* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.background-buildings {
    height: 100%;
    width: 100%;
}

.bb1 {
    width: 10%;
    height: 70%;
}

.bb1a {
    height: 1px;
    width: ;
}

.bb1b {
    height: 1px;
    width: 0;
}

.bb1c {
    height: 1px;
    width: 0;
}

.bb1d {}